
main{
    /*
    height: 100vh;
    */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.col-2{
    grid-column: span 2 / auto;
}

.col-3{
    grid-column: span 3 / auto;
}

.mySlides{
    width:100%;
}
@media only screen and (max-width: 830px) {
    main{
        grid-template-columns: 1fr;
    }
    .col-2 , .col-3{
        grid-column: 1;
    }
}