body{
    margin: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.col-2{
    grid-column: span 2 / auto;
}

.col-3{
    grid-column: span 3 / auto;
}

@media only screen and (max-width: 830px) {
    main{
        grid-template-columns: 1fr;
    }
    .col-2 , .col-3{
        grid-column: 1;
    }
    .mySlider{
        height: 100vh;
    }
}

.links-flex{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.landing-links{
    margin: 2%;
    text-align: center;
    padding: 24px;
    color:whitesmoke;
    background-color: rebeccapurple;
}

@media only screen and (max-width: 750px){
    .links-flex{
        flex-flow: column;
        
    }
    .landing-links{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }

}
.food-list{
    text-align: left;
}
img{
    object-fit: contain;
    max-width: initial;
    max-height: 100%;
    
}

@media only screen and (max-width: 830px){
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .catering{
        margin: 7% 0;
    }
}

/* style calender */
iframe{
    width: 100%;
    border:solid 1px #777;
    height: 50vh;
}
.cal-container{
    margin:2% 0;
}
.center{
    text-align: center;
    justify-self: center;
    align-self: center;
}
.margin-tb{
    margin: 4% 0;
}
#catering-link{
    text-decoration: none;
    border-radius: 24px;
    padding: 14px;
    color:white;
    background-color: rebeccapurple ;

}
footer{
    padding: 1%;
    background-color: #333;
    color: whitesmoke;
    width: 100%;
}
