body{
    margin: 0 0 0 0;
    box-sizing: border-box;
}

.links-flex{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.landing-links{
    margin: 2%;
    text-align: center;
    padding: 24px;
    color:whitesmoke;
    background-color: rebeccapurple;
}

@media only screen and (max-width: 750px){
    .links-flex{
        flex-flow: column;
        
    }
    .landing-links{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }

}

.slideshow-container{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-gap: 10px;

}
.inner{
    grid-column: 2;
    align-content: center;
    display:flex;
    flex-flow: column;
    
}
#caption{
    text-align: center;
    margin: 0 0 0 0;
    padding: 2%;
    background: #333;
    color: white;
}
img{
    object-fit: contain;
    max-width: initial;
    max-height: 100%;
    
}
.slideshow-btn{
    cursor: pointer;
   align-self: center;
    font-size: x-large;
}
#right{
    grid-column: 3;
    grid-row: 1;
}
#left{
    grid-column: 1;
    grid-row: 1;
    justify-self: right;
}
.slideshow-dots{
    grid-column: 2;
    text-align: center;
    margin-top: 3%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active, .dot:hover {
    background-color: #717171
}
@media only screen and (max-width: 830px){
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .slideshow-btn{
        display:none;
    }
    .catering{
        margin: 7% 0;
    }
}

@media only screen and (min-width: 620px){
    .inner{
        height: 60vh;
    }
    .slideshow-dots{
        grid-row: 5;
    }
}
/* style calender */
iframe{
    width: 100%;
    border:solid 1px #777;
    height: 50vh;
}
.cal-container{
    margin:2% 0;
}

.center{
    text-align: center;
    justify-self: center;
    align-self: center;
}
#catering-link{
    text-decoration: none;
    border-radius: 24px;
    padding: 14px;
    color:white;
    background-color: rebeccapurple ;
}