#col-1-row-2{
    width:100;
}
.slideshow-container {
    width:100%;
}


.mySlides {
    /*
    display: none;
    */
    flex-flow:column;
    height: 400px;
    border: solid 1px black;
}
.hidden{
    display:none;
}
img{
    object-fit: contain;
    max-height:100%;
    max-width:400px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    text-align: center;
    background-color: #222428
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
}

.slideshow-dots{
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active, .dot:hover {
    background-color: #717171
}