body{
    margin: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.col-2{
    grid-column: span 2 / auto;
}

.col-3{
    grid-column: span 3 / auto;
}

@media only screen and (max-width: 830px) {
    main{
        grid-template-columns: 1fr;
    }
    .col-2 , .col-3{
        grid-column: 1;
    }
    .mySlider{
        height: 100vh;
    }
    .menu-info.center{
        justify-self: initial;
    }

}

.links-flex{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.landing-links{
    margin: 2%;
    text-align: center;
    padding: 24px;
    color:whitesmoke;
    background-color: rebeccapurple;
}

@media only screen and (max-width: 750px){
    .links-flex{
        flex-flow: column;
        
    }
    .landing-links{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }

}
.food-list{
    text-align: left;
}
img{
    object-fit: contain;
    max-width: initial;
    max-height: 100%;
    
}

@media only screen and (max-width: 830px){
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .catering{
        margin: 7% 0;
    }
}

/* style calender */

.cal-container{
    margin:2% 0;
}
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
}  
.center{
    text-align: center;
    justify-self: center;
    align-self: center;
}
.margin-tb{
    margin: 4% 0;
}
#catering-link{
    text-decoration: none;
    border-radius: 24px;
    padding: 14px;
    color:white;
    background-color: rebeccapurple ;

}
footer{
    padding: 1%;
    background-color: #333;
    color: whitesmoke;
    width: 100%;
}
.mySlider {
    position : relative;
    display : block;
    overflow : hidden;
    width : 100%;
    max-width : 100vw;
    height : 50vh;
    max-height : 100%;
    margin : 0 auto;
  }
  
  .slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    transition: transform 1600ms;
    transform: scale(1);
  }

  .slide_img_01 {
    background : url('pic_1.jpg') no-repeat center;
    background-size: cover;
    left: 0;
  }
  
  .slide_img_02 {
    background : url('pic_2.jpg') no-repeat center;
    background-size : cover;
    left: 100%
  }

  .control {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 55;
  }
  
  .control label svg {
    width : 48px;
    height : 48px;
    fill : #fff;
    stroke : currentColor;
    stroke-width : 0;
  }
  
  .control label svg:hover {
    transition : all .2s ease;
    fill : #000;
  }
  
  .control label {
    z-index: 0;
    display: none;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .control label:hover { opacity: 1.0; }
  
  .next { right: 1%; }
  
  .previous { left: 1%; }

  .slider-pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1000;
  }
  
  .slider-pagination label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    margin: 0 2px;
    border: solid 1px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  
  .slide-radio1:checked ~ .next .numb2, 
  .slide-radio2:checked ~ .next .numb1, 
  .slide-radio2:checked ~ .previous .numb1, 
  .slide-radio1:checked ~ .previous .numb2 {
    display: block;
    z-index: 1
  }
  
  .slide-radio1:checked ~ .slider-pagination .page1,
   .slide-radio2:checked ~ .slider-pagination .page2 { background: rgba(255,255,255,1) }

  .slide-radio1:checked ~ .slider { transform: translateX(0%); }

  .slide-radio2:checked ~ .slider { transform: translateX(-100%); }


    @media only screen and (max-width: 767px) {

        .mySlider {
          position : relative;
          width : 100%;
          height : 400px;
        }
        
        .slider > div { padding: 0 2% }
        
        .control {
          position: absolute;
          top: 60%;
          margin-top: -24px;
          z-index: 55;
        }
        
        .control label svg {
          width : 32px;
          height : 32px;
          fill : #fff;
          stroke : currentColor;
          stroke-width : 0;
        }
        }

        .main_h {
            position: fixed;
            max-height: 70px;
            z-index: 999;
            width: 100%;
            padding-top: 17px;
            background: none;
            overflow: hidden;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0;
            top: -100px;
            padding-bottom: 6px;
            font-family: "Montserrat", sans-serif;
          }
          @media only screen and (max-width: 766px) {
            .main_h {
              padding-top: 25px;
            }
          }
          
          .open-nav {
            max-height: 400px !important;
          }
          .open-nav .mobile-toggle {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
          }
          
          .sticky {
            background-color: #fff;
            opacity: 1;
            top: 0px;
            border-bottom: 1px solid gainsboro;
          }
          
          .logo {
            width: 50px;
            font-size: 1.563rem;
            color: #8f8f8f;
            text-transform: uppercase;
            float: left;
            display: block;
            margin-top: 0;
            line-height: 1;
            margin-bottom: 10px;
          }
          @media only screen and (max-width: 766px) {
            .logo {
              float: none;
            }
          }
          
          nav {
            float: right;
            width: 60%;
          }
          @media only screen and (max-width: 766px) {
            nav {
              width: 100%;
            }
          }
          nav ul {
            list-style: none;
            overflow: hidden;
            text-align: right;
            float: right;
          }
          @media only screen and (max-width: 766px) {
            nav ul {
              padding-top: 10px;
              margin-bottom: 22px;
              float: left;
              text-align: center;
              width: 100%;
            }
          }
          nav ul li {
            display: inline-block;
            margin-left: 35px;
            line-height: 1.5;
          }
          @media only screen and (max-width: 766px) {
            nav ul li {
              width: 100%;
              padding: 7px 0;
              margin: 0;
            }
          }
          nav ul a {
            color: #888888;
            text-transform: uppercase;
            font-size: .75rem;
          }
          
          .mobile-toggle {
            display: none;
            cursor: pointer;
            font-size: 1.25rem;
            position: absolute;
            right: 22px;
            top: 0;
            width: 30px;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
          }
          @media only screen and (max-width: 766px) {
            .mobile-toggle {
              display: block;
            }
          }
          .mobile-toggle span {
            width: 30px;
            height: 4px;
            margin-bottom: 6px;
            border-radius: 1000px;
            background: #8f8f8f;
            display: block;
          }
          
          .row {
            width: 100%;
            max-width: 940px;
            margin: 0 auto;
            position: relative;
            padding: 0 2%;
          }
          
          * {
            box-sizing: border-box;
          }
          
          body {
            color: #8f8f8f;
            background: white;
            font-family: "Cardo", serif;
            font-weight: 300;
            -webkit-font-smoothing: antialiased;
          }
          
          a {
            text-decoration: none;
          }
          
          h1 {
            font-size: 1.8rem;
            line-height: 1.8;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
          }
          
          p {
            margin-bottom: 20px;
            font-size: 1.063rem;
            line-height: 2;
          }
          
          .content {
            padding: 50px 2% 0;
          }
          
          .hero {
            position: relative;
            background: #333 ;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            text-align: center;
            color: #fff;
            padding-top: 110px;
            min-height: 500px;
            letter-spacing: 2px;
            font-family: "Montserrat", sans-serif;
          }
          .hero h1 {
            font-size: 3.125rem;
            line-height: 1.3;
          }
          .hero h1 span {
            font-size: 1.563rem;
            color: #e8f380;
            border-bottom: 2px solid #e8f380;
            padding-bottom: 12px;
            line-height: 3;
          }
          
          
          @-webkit-keyframes scroll {
            0% {
              opacity: 1;
              -webkit-transform: translateY(0);
              transform: translateY(0);
            }
            100% {
              opacity: 0;
              -webkit-transform: translateY(20px);
              transform: translateY(20px);
            }
          }
          @keyframes scroll {
            0% {
              opacity: 1;
              -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
              transform: translateY(0);
            }
            100% {
              opacity: 0;
              -webkit-transform: translateY(20px);
              -ms-transform: translateY(20px);
              transform: translateY(20px);
            }
          }
