*{
    scroll-behavior: smooth;
}
h1{
    color:#FFF;
}
body{

    margin: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background: ghostwhite;
   
}

.col-2{
    grid-column: span 2 / auto;
}

.col-3{
    grid-column: span 3 / auto;
}

#AboutUs{
    margin-top: 6vh;
}   


@media only screen and (max-width: 830px) {
    main{
        grid-template-columns: 1fr;
    }
    .col-2 , .col-3{
        grid-column: 1;
    }
    .col-3{
        text-align: center;
    }
    .mySlider{
        height: 100vh;
    }
    .menu-info.center{
        justify-self: initial;
    }
    #AboutUs{
        margin-top: 0;
    }  

}

.links-flex{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.landing-links{
    margin: 2%;
    text-align: center;
    padding: 24px;
    color:whitesmoke;
    background-color: rebeccapurple;
}

@media only screen and (max-width: 750px){
    .links-flex{
        flex-flow: column;
        
    }
    .landing-links{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }

}
/*
#slideshow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

.food-list{
    text-align: left;
}
.food-list:last-child{
    margin-top: 5%;
    list-style-type: none;
}
img{
    object-fit: contain;
    max-width: initial;
    max-height: 100%;
    
}
li img{
    width:100%;
    max-height: max-content;
}

.uk-overlay {
    padding: 14px 30px;
  }
svg{
    margin: 3% 0 5%;
}
@media only screen and (max-width: 830px){
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .catering{
        display: flex;
        flex-flow: column;
    }

    #catering-link{
        margin: 1% 0;
    }
    .food-list:last-child{
        margin-top: 3%;
    }
    
}

.menu-info.center{
    align-self: start;
}
/* style calender */
#cal-2{
    width: 100%;
    height: 60vh;
}
.cal-container{
    margin:2% 0;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
}  

.center{
    text-align: center;
    justify-self: center;
    align-self: center;
}
.margin-tb{
    margin: 4% 0;
}
.catering{
    margin-bottom: 15vh;
}
#catering-link{
    margin: 6% 0;
    width: 50%;
    text-decoration: none;
    border-radius: 24px;
    padding: 14px;
    color:white;
    background-color: rebeccapurple ;
}
/*footer and contact Us styles*/
footer{
    padding: 1%;
    background-color: #333;
    color: whitesmoke;
    width: 100%;
    display:inline-flex;
    justify-content: center;
}
.svg-logo{
    margin:0;
}

.hover-grow:hover{
    transform: scale(1.02);
}
footer a, footer a:hover{
    color: #FFF;
    text-decoration: none;
}

.uk-flex-column p{
    margin: 0;
}
.col-3 div{
    margin-bottom: 10%;
}