@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;1,600&family=Open+Sans&display=swap');
  
  .row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
  }
  
  body{
    color: #333;
    background: white;
    background: url("wild-sea.png");
    font-family: "Joesfin Slab", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  a , a:hover {
    text-decoration: none;
  }
  a:hover{
    color: ghostwhite;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 1.063rem;
    line-height: 2;
    font-family: "Joesfin Slab", serif;
  }
  
  .content {
    padding: 50px 2% 0;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
  }
  
  .uk-margin-remove{
    font-family: "Open Sans", sans-serif;
  }
  .hero {
    position: relative;
    background: linear-gradient(0deg, rgba(248,248,255,1) 0%, rgba(248,248,255,1) 6%, rgba(191,215,234,1) 100%);
    text-align: center;
    padding-top: 10%;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Josefin Slab", sans-serif;
  }
 .landing-links{
   font-family: "Open Sans", sans-serif;
 }
