<div class="py-8 sm:py-16">
  <div class="max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      We also offer catering to events
    </h2>
    <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Martha's Bon Appetit Catering is a full service food provider for any
      event you may be hosting. Contact us for a consultation to create your
      custom menu. We guarantee food and service "In The Spirit of Excellence"
    </p>

    <a
      href="#"
      class="inline-flex px-4 py-2.5 text-base font-medium text-center text-white bg-violet-700 rounded-lg hover:bg-violet-800 focus:ring-4 focus:ring-violet-300"
    >
      Get in Touch
    </a>
  </div>
</div>
